header{
text-align: center;
    background-color: #F2C14E;
    margin: 0%;
    font-family: fantasy;
    border: 0px;
    padding: 0%;
}
body{ 
    text-align: center;
    background-color: #ebe9e5;
}
h1{
    font-size: 72px;
    font-family: fantasy;
    color: #F78154;
}

h2{font-size: 48px;
color: #4D9078;

}
h4{font-size: 34px;
color: #4D9078;

}
h3{
    font-size:34 ;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.list-inside li {
    list-style-position: inside;
  }
  :link    { color: blue;  }
  a:visited { color: darkblue;   }
  a:hover   { color: darkcyan; }
  a:active  { color: darkgray;  }  
  li{
    font-weight: bold;
    font-size: 24px;
  }
  footer{
font-size: 18px;
    background-color: #F2C14E !important;
  }
  article{
    margin: 0px, 100px;
    padding: 0%, 5%;
  }