header{
text-align: center;
    background-color: coral;
    margin: 0%;
}
body{
    text-align: center;
}
h1{
    font-size: 72px;
    font-family: fantasy;
    color: #7b0909;
}
main{
    background-color: #ebe9e5;
}
h2{font-size: 48px;
color: coral;

}
h4{font-size: 34px;
color: coral;

}
h3{
    font-size:34 ;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.list-inside li {
    list-style-position: inside;
  }
  :link    { color: blue;  }
  a:visited { color: darkblue;   }
  a:hover   { color: darkcyan; }
  a:active  { color: darkgray;  }  